<h1>Catalogue</h1>

<% @products.in_groups_of(3) do |group| %>
<div class="row">
  <% group.compact.each do |product| %>
  <div class="col-md-4">
    <%= image_tag product.product_img, width: '20%' if product.product_img.present?%>
    <h4><%= link_to product.title, product %></h4>
    <%= product.description %>
  </div>
  <% end %>
</div>
<% end %>
